.nav-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 210vh;
  height: 12vh;
  box-shadow: 1px 1px 3px 3px rgb(61, 60, 60, 0.4);
  background-color: black;
}

.nav-bar .logo{
  font-size: 30px; /* Adjust the size as needed */
  margin-right: 10px; /* Add margin to separate it from other elements */
  color: white;
  margin-left: 250px;

}

.nav-bar .display-menu{
  display: flex;
  align-items: center;
  font-size: 30px;
  justify-content: space-around;
  margin-right: 19vh;
}


.display-menu .menu{
  padding: 0 100px;
  
  color: white;
  text-decoration: none;
  position: relative;
  
}

.menu:hover{
  cursor: pointer;
}

.acc-dropdown-content{
  color: white;
}

.dropdown-content {
  background-color: black;
  color: white;
  padding-top: 2vh;
  margin-left: 8vh;
  width: 25vh;
  position: absolute; /* Position absolutely */
  top: 150%; /* Place it below the parent element */
  left: 0; /* Align with the left edge of the parent element */
  z-index: 1; /* Ensure it appears above other content */
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  border: 0.1vh solid white;
  
}

.acc-dropdown-content{
  background-color: black;
  color: white;
  padding-top: 2vh;
  height: 25vh;
  width: 70vh;
  position: absolute; /* Position absolutely */
  top: 150%; /* Place it below the parent element */
  right: 0%;
 
  /* Align with the left edge of the parent element */
  z-index: 1; /* Ensure it appears above other content */
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  border: 0.1vh solid white;
}

.dropdown-item-button{
  background-color: red;
  color: black;
  font-size: 24px;
  text-align: center;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 1vh;
  display: inline-block;
}
.dropdown{
  position: relative;
}

.dropdown-item{
  padding-bottom: 2vh;
  border-bottom: 1px solid #ccc; /* Add a 1px solid line as a separator */
  margin-bottom: 5px; /* Adjust margin to control spacing between items */
}

.user-logo{
  background-color: black;
  font-size: 30px;
}


.logo:hover{
  cursor: pointer;
}






