.nav-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 110px;
  box-shadow: 1px 1px 3px 3px rgb(61, 60, 60, 0.4);
  background-color: black;
}

.nav-bar .logo{
  font-size: 24px; /* Adjust the size as needed */
  margin-right: 10px; /* Add margin to separate it from other elements */
  color: white;
  margin-left: 250px;
}

.nav-bar .display-menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 100px;
}


.display-menu .menu{
  padding: 0 100px;
  color: white;
  text-decoration: none;
}




