.md-main-container{
    background-image: url('/public/method-details.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;

}

.method-container{
    background-color: black;
    position: relative;
    margin-left: 48vh;
    top: 20vh;
    width: 100vh;
    height: 60vh;
    display: flex;
    /* Use flexbox to center content */
    flex-direction: column;
    /* Stack content vertically */
    justify-content: last baseline;
    /* Center content vertically */
    align-items: center;
    /* Center content horizontally */
    color: white;
}

.update-button{
    margin-top: 5vh;
    background-color: red;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 2vh 5vh;
    border-radius: 2vh;
    display: inline-block;
}