.method-item{
    padding-top: 3vh;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
}

h3{
    font-size: 25px;
}

.clickable-text{
    cursor: pointer;
    color: red;

}

.clickable-text:hover {
    color: darkgray;
}